<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content=""></meta>
 <meta name="author" content=""></meta>
<link href="/css/bootstrap.css"  rel="stylesheet" />

 <!-- <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>  -->
 
 <style>
 		
 		.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}
 
 
 </style>
 
 
<title>Mail-Stations</title>
</head>
<body>
		<div class="container">
			<h1>Test</h1>
				<span th:text="${message}" class="badge badge-primary"></span>
		
		</div>


</body>
</html>